<!--*********************************************************************************************************-->
<!--************ FOOTER *************************************************************************************-->
<!--*********************************************************************************************************-->
<footer id="ts-footer">

    <div class="map ts-height__400px">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.5673469506455!2d-79.20046468449735!3d43.80258997911648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da07dea478d3%3A0x1eac85f961ede5de!2s8130+Sheppard+Ave+E+%23104%2C+Scarborough%2C+ON+M1B+6A3%2C+Canada!5e0!3m2!1sen!2s!4v1538377762221" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


    <section id="contact" class="ts-separate-bg-element" data-bg-image="{{'assets/img/bg-hand-mobile.jpg'|theme}}" data-bg-image-opacity=".1" data-bg-color="#5b282c">
        <div class="container">
            <div class="ts-box mb-0 p-5 ts-mt__n-10" data-animate="ts-fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Contact Us</h3>
                        <address>
                            <figure>
                                8130 Sheppard Ave E
                                Unit 104
                                Scarborough, Ontario,
                                M1B 3W3
                            </figure>
                            <br>
                            <figure>
                                <div class="font-weight-bold">Email:</div>
                                <a href="#">sri@vaganslegalservices.com </a>
                            </figure>
                            <figure>
                                <div class="font-weight-bold">Phone:</div>
                                416-473-8472
                            </figure>

                        </address>
                        <!--end address-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-8">
                        <h3>Contact Form</h3>
                        <form  role="form" data-request-flash method="post"   data-request="onMessage" class=" ts-form " >
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-name">Your Name *</label>
                                        <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-email">Your Email *</label>
                                        <input type="email" class="form-control"  name="email" placeholder="Your Email" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                            </div>
                            <!--end row -->
                           
                            
                            <!--end row -->
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary float-right"  >Send a Message</button>
                            </div>
                            <!--end form-group -->
                            
                        </form>
                        <!--end form-contact -->
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end ts-box-->


            <div class="text-center text-white py-4">
                <small style="float: left" class="text-left text-white ">© Copyright 2018. All Rights Reserved.</small>
                <small class="text-center text-white " style=" float: none"><a style="margin-right: 20px;" target="_blank" href="/privacypolicy">Privacy-Policy</a> <a target="_blank" href="/Disclaimer">Disclaimer</a></small>
                <small style="float: right" class="text-right text-white">Powered by: <a target="_blank" href="http://codejunkie.co">CodeJunkie</a></small>
            </div>


        </div>
        <!--end container-->
    </section>
</footer>
<!--end #footer-->
