  
  
<style>
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4.5rem;
    }

</style>
<!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <header id="ts-hero" class="ts-full-screen ts-separate-bg-element">
            <!--NAVIGATION ******************************************************************************************-->
            <nav style="font-size: 18px; font-weight: 600" class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element" data-bg-color="#141a3a">
                <div class="container">
                    <a class="navbar-brand" href="#page-top">
                        <img src="{{'assets/img/logo-w.png'|theme}}" alt="">
                    </a>
                    <!--end navbar-brand-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--end navbar-toggler-->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active ts-scroll" href="/">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link ts-scroll" href="/aboutus">About Us</a>
                            <a class="nav-item nav-link ts-scroll" href="/services">Services</a>
                            <a class="nav-item nav-link ts-scroll" href="/consultation">Consultation</a>
                            <a class="nav-item nav-link ts-scroll" href="/blog">Blog</a>
                           
                        </div>
                        <!--end navbar-nav-->
                    </div>
                    <!--end collapse-->
                </div>
                <!--end container-->
            </nav>
            <!--end navbar-->

            <!--HERO CONTENT ****************************************************************************************-->
            <div class="container align-self-center align-items-center">
                <div class="row">
                    <div class="col-md-7">
                        <h1 data-animate="ts-fadeInUp">Grow Your Business With Us</h1>
                        <div data-animate="ts-fadeInUp" data-delay=".1s">
                            <p class="w-75 text-white mb-5 ts-opacity__50">Morbi et nisl a sapien malesuada scelerisque. Suspendisse tempor turpis mattis</p>
                        </div>
                        <a href="/aboutus" class="btn btn-primary btn-lg ts-scroll mr-4" data-animate="ts-fadeInUp" data-delay=".2s">
                            Learn More
                            <i class="fa fa-arrow-right small ml-3 ts-opacity__50"></i>
                        </a>
                        
                    </div>
                    <!--end col-md-7-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
            <!--END HERO CONTENT ************************************************************************************-->

            <!--HERO BACKGROUND *************************************************************************************-->
            <div class="ts-background" data-bg-color="#141a3a" data-bg-parallax="scroll" data-bg-parallax-speed="3">
                <div class="ts-background-image ts-svg ts-z-index__1 ts-background-position-left d-none d-md-block" data-bg-image="{{'assets/svg/shape-mask.svg'|theme}}" data-animate="ts-fadeInLeft"></div>
                <div class="ts-background-image ts-parallax-element" data-bg-image="{{'assets/img/mainheader.jpg'|theme}}" data-animate="ts-zoomOutIn"></div>
            </div>
            <!--END HERO BACKGROUND *********************************************************************************-->

        </header>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
       
