<style>
    .ts-story {
        margin-bottom: 2rem;
        padding: 14rem 0rem 2rem 2rem;
        position: relative;
    }

</style>
<!--SUCCESSFUL STORIES **********************************************************************************-->
<section id="successful-stories" class="ts-block pb-5 mb-4">
    <div class="container">
        <div class="ts-title text-center">
            <h2>Find out how Vagans Legal can help you. Select one of our services to know more</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            <div class="col-md-6">
                <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/small.jpg'|theme}}" data-bg-image-opacity=".1">
                    <figure style="color:white; background-color: #5b282c;    width: 157px; top:0.625rem;">Small Claims</figure>

                    <h3>Small Claims</h3>
                    <p>Vagans Legal has years of experience and can help you with Small Claims Court legal process from beginning to end. </p>
                    <br>
                    <a href="/Small-Claims" class="btn btn-primary btn-sm">View Case</a>
                </div>
                <!--end ts-story-->
            </div>
            <div class="col-md-6">
                <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/lice.jpg'|theme}}" data-bg-image-opacity=".1">
                    <figure style="    width: 157px; top:0.625rem; color:white; background-color: #5b282c;">Licensing Appeal</figure>
                    <h3>Licensing Appeal Tribunal</h3>
                    <p>The Licence Appeal Tribunal hears appeals from decisions concerning compensation claims and licensing activities.</p>
                    <br>
                    <a href="/Licensing" class="btn btn-primary btn-sm">View Case</a>
                </div>
                <!--end ts-story-->
            </div>
            <div class="col-md-6">
                <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/pro.jpg'|theme}}" data-bg-image-opacity=".1">
                    <figure style="color:white; background-color: #5b282c;    width: 157px; top:0.625rem;">Provincial Offense</figure>
                    <h3>Provincial Offense</h3>
                    <p>Vagans Legal can save you from being entangled in the anomalies of court.</p>
                    <br>
                    <a href="/Provincial" class="btn btn-primary btn-sm">View Case</a>
                </div>
                <!--end ts-story-->
            </div>
            <div class="col-md-6">
                <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/land.jpg'|theme}}" data-bg-image-opacity=".1">
                    <figure style="color:white; background-color: #5b282c;     width: 157px; top:0.625rem;">Landlord Issues</figure>
                    <h3>Landlord and Tenant Board Issues</h3>
                    <p>Vegans Legal can advise and represent either tenants or landlords.</p>
                    <br>
                    <a href="/Landlord" class="btn btn-primary btn-sm">View Case</a>
                </div>
                <!--end ts-story-->
            </div>
            <!--end col-md-4-->



            <!--end col-md-4-->
        </div>
        <!--end row-->

    </div>
    <!--end container-->
</section>
<!--END SUCCESSFUL STORIES ******************************************************************************-->
