   <!--SUCCESSFUL STORIES **********************************************************************************-->
            <section id="successful-stories" class="ts-block pb-5 mb-4">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>Find out how Vagans Legal can help you. Select one of our services to know more</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/img-bw-man-phone.jpg'|theme}}" data-bg-image-opacity=".1">
                        
                                <h3>Small Claims</h3>
                               <br>
                                <a href="/Small-Claims" class="btn btn-primary btn-sm">View Case</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                         <div class="col-md-6">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/img-bw-man-phone.jpg'|theme}}" data-bg-image-opacity=".1">
                        
                                <h3>Licensing Appeal Tribunal</h3>
                               <br>
                                <a href="/Licensing" class="btn btn-primary btn-sm">View Case</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                         <div class="col-md-6">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/img-bw-man-phone.jpg'|theme}}" data-bg-image-opacity=".1">
                        
                                <h3>Provincial Offense</h3>
                               <br>
                                <a href="/Provincial" class="btn btn-primary btn-sm">View Case</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                         <div class="col-md-6">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{{'assets/img/img-bw-man-phone.jpg'|theme}}" data-bg-image-opacity=".1">
                        
                                <h3>Landlord and Tenant Board Issues</h3>
                               <br>
                                <a href="/Landlord" class="btn btn-primary btn-sm">View Case</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                        <!--end col-md-4-->
                        
                       
              
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                   
                </div>
                <!--end container-->
            </section>
            <!--END SUCCESSFUL STORIES ******************************************************************************-->
