<style>
    .small {
        font-size: 90%;
    }

</style>


<!--ABOUT US ********************************************************************************************-->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="ts-block pr-3">
                    <div class="ts-title">
                        <h2>What can we do for you?</h2>
                    </div>
                    <!--end ts-title-->
                    <p>
                        At Vagans Legal Service, we understand what the clients expect when they approach us. From representing them in the court to getting them the justice they seek, from reviewing contracts to streamlining their business by helping them with business incorporation and plan review, there are a host of services that the clients can and have benefitted from.
                    </p>
                    <p>
                        With our dynamic team and extensive domain knowledge in the legal field, we are able to offer the following to our clients:
                    </p>
                    <div class="list-group list-group-flush mb-5">
                        <a href="#collapseOne" class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">Introduction</a>
                        <div class="collapse" id="collapseOne">
                            <p class="pt-3 small">
                                The trust that their case is handled by the qualified professionals licensed by the Law Society of Upper Canada.
                            </p>
                        </div>
                        <a href="#collapseTwo" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseTwo">Time</a>
                        <div class="collapse" id="collapseTwo">
                            <p class="pt-3 small">
                                We fit seamlessly into client’s schedule to allow minimal disruption to their daily activities and maximize their time spent outside the courtroom.
                            </p>
                        </div>
                        <a href="#collapseThree" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseThree">Availibility</a>
                        <div class="collapse" id="collapseThree">
                            <p class="pt-3 small">
                                24x7 support of our team that is always ready and willing to provide you with assistance and support – while working in accordance with professional procedures and practices that assure outstanding results, quality and compliance.<br>
                                Our service is accessible at any time via an internet connection. The Online access of account allows client to track and manage their service request from one central program.
                            </p>
                        </div>
                        <a href="#collapseFour" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFour">Rates</a>
                        <div class="collapse" id="collapseFour">
                            <p class="pt-3 small">
                                The assurance of reasonable rates every time you choose us.
                            </p>
                        </div><a href="#collapseFive" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFive">Results</a>
                        <div class="collapse" id="collapseFive">
                            <p class="pt-3 small">
                                Our attention to detail allows us reach every angle needed to provide the absolute best results at all times.
                            </p>
                        </div>
                    </div>

                    <a href="/aboutus" class="btn btn-primary mr-3 my-2">More About Us</a>

                </div>
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="ts-background d-none d-sm-block" data-bg-color="#fafafa" data-bg-parallax1="scroll" data-bg-parallax-speed="3">
        <div class="owl-carousel w-50 ts-push-left__100 h-100 ts-parallax-element1" data-owl-loop="1" data-owl-nav-container="#carousel-external-control">
            <div class="ts-background-image" data-bg-image="{{'assets/img/wecando.jpg'|theme}}"></div>
            <div class="ts-background-image" data-bg-image="{{'assets/img/wecando2.jpg'|theme}}"></div>
        </div>
        <!--end owl-carousel-->
    </div>
    <!--end ts-background-->

</section>
<!--END ABOUT US ****************************************************************************************-->
