
            <!--HOW IT WORKS ****************************************************************************************-->
            <section id="how-it-works" class="ts-block ts-xs-text-center pb-5">
                <div class="container">
                    <div class="ts-title">
                        <h2>How It Works</h2>
                        <p>Vagans legal services is Ontario’s licensed paralegal firm committed to providing cost-effective, streamlined and hassle-free paralegal services to businesses & individuals.</p>
                        <h4>Our 4-step procedure ensures simplicity, reliability, and unparalleled results.</h4>
                    </div>
                    <!--end ts-title-->
                    <div class="row" style="    flex-wrap: nowrap !important;">
                        <div class="col-sm-6 col-md-3 col-xl-3">
                            <div class="ts-item" data-animate="ts-fadeInUp">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">1</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                                <img src="assets/img/icon-bubble.png" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>The Request</h4>
                                        <p>
                                            Place your request with us. Our paralegals are available to take your case at any time of the day and assist you with your queries.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                       <div class="col-sm-6 col-md-3 col-xl-3">
                            <div class="ts-item" data-animate="ts-fadeInUp">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">1</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                                <img src="assets/img/icon-bubble.png" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Detailed Analysis</h4>
                                        <p>
                                            A thorough assessment of your request is carried out to cover all aspects of the case.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-3 col-xl-3">
                            <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.1s">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">2</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                                <img src="assets/img/icon-knobs.png" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Legal Representation</h4>
                                        <p>
                                            A paralegal is designated who represents you in your legal proceedings.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 offset-sm-3 col-md-3 offset-md-0 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.2s">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">3</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                                <img src="assets/img/icon-heart.png" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Results</h4>
                                        <p>
                                           A detailed report of the status of the case is sent to you and updated online every time we work on it to keep you informed of the disposition of the case.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END HOW IT WORKS ************************************************************************************-->

            <hr>
